<div class="container text-center mt-5">

    <h2 class="text-success">Payment Successful 🎉</h2>

    <p class="mt-3">
        Your subscription is activated.
        You can now watch movies.
    </p>

    <a asp-controller="GuestHome"
       asp-action="Index"
       class="btn btn-primary mt-3">

        Go To Home

    </a>

</div>