<h2 class="mb-4">Movies</h2>

<div class="row g-4">

    <!-- Movie 1 -->
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card movie-card h-100">
            <img src="~/images/movies/gangubai.jpg" class="card-img-top">

            <div class="card-body text-center">
                <h5>Gangubai</h5>

                <a asp-controller="Payment"
                   asp-action="Subscribe"
                   class="btn btn-primary w-100">
                    ▶ Watch Now
                </a>
            </div>
        </div>
    </div>

    <!-- Movie 2 -->
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card movie-card h-100">
            <img src="~/images/movies/hostages.jpg" class="card-img-top">

            <div class="card-body text-center">
                <h5>Hostages</h5>

                <a asp-controller="Payment"
                   asp-action="Subscribe"
                   class="btn btn-primary w-100">
                    ▶ Watch Now
                </a>
            </div>
        </div>
    </div>

    <!-- Movie 3 -->
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card movie-card h-100">
            <img src="~/images/movies/animal.jpg" class="card-img-top">

            <div class="card-body text-center">
                <h5>Animal</h5>

                <a asp-controller="Payment"
                   asp-action="Subscribe"
                   class="btn btn-primary w-100">
                    ▶ Watch Now
                </a>
            </div>
        </div>
    </div>

    <!-- Movie 4 -->
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card movie-card h-100">
            <img src="~/images/movies/phir_hera_pheri.jpg" class="card-img-top">

            <div class="card-body text-center">
                <h5>Phir Hera Pheri</h5>

                <a asp-controller="Payment"
                   asp-action="Subscribe"
                   class="btn btn-primary w-100">
                    ▶ Watch Now
                </a>
            </div>
        </div>
    </div>

    <!-- Movie 5 -->
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card movie-card h-100">
            <img src="~/images/movies/de_dana_dhan.jpg" class="card-img-top">

            <div class="card-body text-center">
                <h5>De Dana Dhan</h5>

                <a asp-controller="Payment"
                   asp-action="Subscribe"
                   class="btn btn-primary w-100">
                    ▶ Watch Now
                </a>
            </div>
        </div>
    </div>

</div>