@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<h2>About MovieMania</h2>

<p>
    MovieMania is a movie streaming platform where users can explore
    movies, watch trailers, and subscribe to watch full movies.
</p>