@{
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

<h2>Contact Us</h2>

<form>

    <div class="mb-3">
        <label>Name</label>
        <input class="form-control">
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input class="form-control">
    </div>

    <div class="mb-3">
        <label>Message</label>
<textarea class="form-control"></textarea>
    </div>

    <button class="btn btn-primary">Send</button>

</form>